/* --------------------------------------
   Global Styles
   -------------------------------------- */


/*Custom fonts*/
@font-face {
    font-family: 'kuraleregular';
    src: url('../fonts/Kurale/kurale-regular-webfont.eot');
    src: url('../fonts/Kurale/kurale-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Kurale/kurale-regular-webfont.woff2') format('woff2'),
         url('../fonts/Kurale/kurale-regular-webfont.woff') format('woff'),
         url('../fonts/Kurale/kurale-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "MyriadProRegular";
    src: url("../fonts/MyriadProRegular/MyriadProRegular.eot");
    src: url("../fonts/MyriadProRegular/MyriadProRegular.eot?#iefix")format("embedded-opentype"),
         url("../fonts/MyriadProRegular/MyriadProRegular.woff") format("woff"),
         url("../fonts/MyriadProRegular/MyriadProRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "MyriadProSemiBold";
    src: url("../fonts/MyriadProSemiBold/MyriadProSemiBold.eot");
    src: url("../fonts/MyriadProSemiBold/MyriadProSemiBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/MyriadProSemiBold/MyriadProSemiBold.woff") format("woff"),
    url("../fonts/MyriadProSemiBold/MyriadProSemiBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}



/*General styles*/
html, body                    {    height: 100%;}
body                          {    margin: 0;
                                   padding: 0;
                                   -ms-overflow-x: hidden;
                                       overflow-x: hidden;
                                   max-width: 100%;
                                   font-family: "MyriadProRegular";
                              }

p                             {    color: #202833; font-size: 20px;}
h1, h2, h3, h4, h5, p         {    margin: 0; text-align: center;}
h1, h2, h3, h4, h5            {    font-family: 'kuraleregular'; font-family: #202833;}
.white                        {    color: #fff;}
h2                            {     font-size: 50px; line-height: 60px;}
h2:after, h3:after, 
h4:after, h5:after            {    content: ""; display: block; width: 165px; height: 3px; margin: 40px auto; background-color: #BE9858;}    
a                             {    text-decoration: none;}
strong                        {    font-weight: 900;}
ul                            {    padding: 0;}
*                             {    box-sizing: border-box; outline: none;}
*:focus                       {    outline: none;}
::-moz-focus-inner            {    border:0;}
.clearfix:after               {    content: " "; 
                                   visibility: hidden;
                                   display: block;
                                   height: 0;
                                   clear: both;}

a[href^=tel]                  {     color:inherit !important; text-decoration:none;}

.wrapper                      {    margin: 0 auto;
                                   text-align: center;
                                   width: 1145px;}
 
.col-1                        {    width: 100%;}
.col-2                        {    width: 50%;}
.col-3                        {    width: 33.33%;}
.col-4                        {    width: 25%;}

.col-1,
.col-2,
.col-3,
.col-4                        {    float: left; height: 100%;}

.vertical:before              {    content: " "; 
                                   display: inline-block; vertical-align: middle; 
                                   height: 100%;
                                   margin-right: 0;
                              }

.float-right                  {    float: right;}


@media (max-width: 1250px) {
}
@media (max-width: 800px) {
}
@media (max-width: 660px) {
}
@media (max-width: 570px) {
}
@media (max-width: 360px) {
}


/* --------------------------------------
   Custom Styles
   -------------------------------------- */





/*---------------------------------------------------------------*/