/* --------------------------------------
   Global Styles
   -------------------------------------- */


/*Custom fonts*/
@font-face {
    font-family: 'kuraleregular';
    src: url('../fonts/Kurale/kurale-regular-webfont.eot');
    src: url('../fonts/Kurale/kurale-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Kurale/kurale-regular-webfont.woff2') format('woff2'),
         url('../fonts/Kurale/kurale-regular-webfont.woff') format('woff'),
         url('../fonts/Kurale/kurale-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "MyriadProRegular";
    src: url("../fonts/MyriadProRegular/MyriadProRegular.eot");
    src: url("../fonts/MyriadProRegular/MyriadProRegular.eot?#iefix")format("embedded-opentype"),
         url("../fonts/MyriadProRegular/MyriadProRegular.woff") format("woff"),
         url("../fonts/MyriadProRegular/MyriadProRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "MyriadProSemiBold";
    src: url("../fonts/MyriadProSemiBold/MyriadProSemiBold.eot");
    src: url("../fonts/MyriadProSemiBold/MyriadProSemiBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/MyriadProSemiBold/MyriadProSemiBold.woff") format("woff"),
    url("../fonts/MyriadProSemiBold/MyriadProSemiBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}



/*General styles*/
html, body                    {    height: 100%;}
body                          {    margin: 0;
                                   padding: 0;
                                   -ms-overflow-x: hidden;
                                       overflow-x: hidden;
                                   max-width: 100%;
                                   font-family: "MyriadProRegular";
                                   color: #202833;
                                   font-size: 20px;
                              }

p                             {    margin: 0;}
h1, h2, h3, h4, h5            {    margin: 0; text-align: center;}
h1, h2, h3, h4, h5            {    font-family: 'kuraleregular'; color: #202833;}
.white                        {    color: #fff;}
h2                            {     font-size: 50px; line-height: 60px;}
h3                            {     font-size: 35px; line-height: 60px;}
hr                            {     width: 100%; border-top: 2px solid rgba(32,40,51, .05); margin: 25px 0;}
h2:after                      {    content: ""; display: block; width: 165px; height: 3px; margin: 40px auto; background-color: #BE9858;}    
a                             {    text-decoration: none;}
strong                        {    font-family: "MyriadProSemiBold"; font-weight: normal;}
ul                            {    padding: 0; margin: 0;}
*                             {    box-sizing: border-box; outline: none;}
*:focus                       {    outline: none;}
::-moz-focus-inner            {    border:0;}
.clearfix:after               {    content: " "; 
                                   visibility: hidden;
                                   display: block;
                                   height: 0;
                                   clear: both;}

a[href^=tel]                  {     color:inherit !important; text-decoration:none;}

.wrapper                      {    margin: 0 auto;
                                   text-align: center;
                                   width: 1145px;
                              }

section {
  padding: 107px 0;
}

.vertical:before              {    content: " "; 
                                   display: inline-block; vertical-align: middle; 
                                   height: 100%;
                                   margin-right: 0;
                              }
.pull-left {
  float: left;
}
.pull-right {
  float: right;
}


.button {
    display: inline-block;
    vertical-align: middle;
    margin: 0 7px;
    height: 40px;
    padding: 0 18px;
    color: #fff;
    font: 16px/36px "MyriadProRegular";
    border: 2px solid rgba(190,152,88, .3);
    -webkit-border-radius: 3px;
            border-radius: 3px;
    cursor: pointer;
    transition: all .2s;
}
.button.gold {background-color: #BE9858; color: #fff; text-transform: uppercase;}
.tel {
    display: inline-block;
    vertical-align: middle;
    font: 24px 'kuraleregular';
    color: #FFF;
    margin-left: 10px;
}

@media (max-width: 1200px) {
  .wrapper {
    width: 970px;
  }
  section {
    padding: 70px 0;
  }
  h2 {
    font-size: 45px;
  }
  h3 {
    font-size: 30px;
  }
  h2::after {
    margin: 30px auto;
  }
}

@media (max-width: 991px) {
  .wrapper {
    width: 760px;
  }
  h2 {
    font-size: 45px;
  }
  h3 {
    font-size: 30px;
  }
  h2::after {
    margin: 30px auto;
  }
}
@media (max-width: 767px) {
  .wrapper {
    width: 95%;
  }
}


/* --------------------------------------
   Custom Styles
   -------------------------------------- */



.offer         {
                   height: 100%;
                   min-height: 650px;
                   max-height: 900px;
                   background: url('../images/section_1.jpg') no-repeat center center;
                   background-size: cover;
                   padding: 0;
               }
header         {
                   padding-top: 20px;
                   color: #FFF;
               }
.header_left,
.header_right  {
                   display: inline-block;
                   vertical-align: middle;
               }
.header_left   {    width: 380px }


.header_right {
    width: calc(100% - 385px); 
    text-align: right;
    }


.event h1 {
color: #FFF;
text-align: left;
display: inline-block;
font-size: 30px;
}

.event h1:after {
    content: ""; 
    display: block; width: 100%; height: 3px; margin: 30px auto 0; background-color: #BE9858;
}

nav {border-top: 2px solid rgba(255,255,255, .05);
padding: 15px 0;
margin-top: 18px;
}
nav ul {display: flex;
-webkit-display: flex;
margin: 0;
-webkit-justify-content: space-around;
        justify-content: space-around;
-webkit-align-items: center;
        align-items: center;
}
nav li a {font: 18px "MyriadProRegular"; color: #FFF; display: inline-block;}

nav li a:after {
    content: ""; 
    display: block; width: 80%; height: 3px; margin: 15px auto 0; background-color: #BE9858;
    float: left;
    opacity: 0;
    -webkit-transition: opacity .2s;
       -moz-transition: opacity .2s;
        -ms-transition: opacity .2s;
         -o-transition: opacity .2s;
            transition: opacity .2s;
}
nav li a:hover:after {opacity: 1;}


.offerInfo {
    display: flex;
    -webkit-display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    height: calc(100% - 150px);
}
.offerInfo h2 { margin-bottom: 35px; font-size: 45px; color: #FFF; width: 96%;}
.offerInfo h2:after {display: none;}

.dateOfEvent {
    display: inline-block;
    vertical-align: middle;
    font-size: 45px; color: #FFF; line-height: 1;
    min-width: 100px;
    padding: 32px 5px 24px;
    background: url('../images/calend_big.svg') no-repeat center center;
    background-size: 100% 100%;
    position: relative;
    margin-right: 80px;
    }
.dateOfEvent:last-of-type {margin-right: 0;}
.dateOfEvent span {display: block;}
.dateOfEvent span + span {font: 20px "MyriadProSemiBold";}
.dateOfEvent:after {content: ''; position: absolute; left: calc(100% + 25px); top: 45%; display: inline-block; vertical-align: middle; width: 30px; height: 30px; background-image: url("../images/plus.svg"); background-size: 100% 100%;}
.dateOfEvent:last-of-type:after {display: none;}

.offerInfo .button {margin-top: 45px;}



#about p {padding: 0 10%;}

#forWhom {background-color: #F8F4EE;}
.infoBlocksWrap,
.infopartnersWrap {
    display: flex;
    -webkit-display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -ms-flex-align: top;
    align-items: top;
}
.infoBlock {
    width: 260px;
    margin-bottom: 20px;
}
.infoBlock_icon {width: 150px; height: 150px; text-align: center; border: 3px solid rgba(190, 152, 88, .3); -webkit-border-radius: 3px;
        border-radius: 3px; margin: 10px auto 15px;}
.infoBlock_icon.big {width: 410px;}
.infoBlock_icon:before {content: ""; display: inline-block; height: 100%; vertical-align: middle;}
.infoBlock_icon img {max-width: 95%; vertical-align: middle;}
.infoBlock_icon.-small img {max-width: 55px;} 
.infoBlock p {font-size: 20px;}


#forWhat {background-color: #2C333E;}
.askAnswer p,
.askAnswer h2 {display: inline-block; vertical-align: top; padding-right: 30px; text-align: left;}
.askAnswer h2 {width: 310px; border-right: 1px solid rgba(255,255,255, .1); padding: 15px 0 30px 0;}
.askAnswer h2:after {display: none;}
.askAnswer p {width: calc(100% - 320px); padding-left: 30px; line-height: 28px; padding: 10px 0 10px 30px;}

.infopartnersWrap {margin-top: 20px;}
/*---------------------------------------------------------------*/

/*---------------------------------------------------------------*/
/* --------------------------------------
   Themes section
   -------------------------------------- */
.themes {
  background: url(../images/section_themes.jpg) 50% 50% no-repeat;
  background-size: cover;
  border-bottom: 9px solid #BE9858;
}
.themes h2 {
  color: #fff;
}
.themes_list {
  width: 750px;
  position: relative;
  margin: 0 auto;
  text-align: left;
  color: #fff;
  counter-reset: list;
}
.themes_list:before {
  content: '';
  width: 2px;
  height: 130%;
  position: absolute;
  left: 25px;
  top: -15%;
  background: url(../images/line.png) 50% 50% no-repeat;
  background-size: 100% 100%;
}
.themes_list li {
  display: block;
  position: relative;
  margin-bottom: 30px;
}
.themes_list li p {
  display: inline-block;
  vertical-align: middle;
  width: calc(100% - 85px);
}
.themes_list li:before {
  counter-increment: list;
  content: counter(list) ;
  display: inline-block;
  vertical-align: middle;
  box-sizing: border-box;
  width: 52px;
  height: 52px;
  border-radius: 50px;
  margin-right: 25px;
  border: 3px solid #BE9858;
  text-align: center;
  font: 22px/44px "MyriadProSemiBold";
  background-color: #1F2732;
}



/* --------------------------------------
   Prices section
   -------------------------------------- */
.prices_wrap {
  width: 910px;
  margin: 0 auto 35px;
  text-align: justify;
}
.price {
  display: inline-block;
  vertical-align: top;
  width: 260px;
  padding: 25px 30px;
  border: 3px solid #EBE0CD;
  border-radius: 3px;
  text-align: center;
}
.price--full {
  width: 100%;
}
.price:not(.price--full) {
  margin-bottom: 60px;
}
.price__calendar {
  display: block;
  width: 30px;
  height: 30px;
  margin: 0 auto 10px;
  background: url(../images/calend.svg) 50% 50% no-repeat;
  background-size: 100% 100%;
}
.price hr {
  margin: 12px 0;
  border-color: #EBE0CD
}
.price--full hr {
  display: inline-block;
  width: 205px;
  margin-top: 25px;
}
.price .button {
  height: 50px;
  margin: 0;
  line-height: 46px;
  font-size: 18px;
  width: 100%;
}
.price--full .button {
  width: 260px;
}
.price .button:disabled {
  opacity: .5;
}
.price__end_date {
  font: 30px 'kuraleregular';
  color: #BE9858;
}
.price__value {
  font-size: 30px;
  margin-bottom: 12px;
}
.price__title {
  font: 40px 'kuraleregular';
  color: #BE9858;
}
.location_link {
  margin-top: 10px;
}
.location_link a {
  color: #BE9858;
  text-decoration: underline;
}
.location_link a:hover {
  text-decoration: none;
}
.location_link a:before {
  content: '';
  width: 10px;
  height: 14px;
  margin: -4px 8px 0 0;
  display: inline-block;
  vertical-align: middle;
  background: url(../images/pin.svg) 50% 50% no-repeat;
  background-size: 100%;
}
/* --------------------------------------
   Program section
   -------------------------------------- */
.program {
  background-color: #F8F4EE;
}
.schedule {
  padding: 15px 60px 25px 90px;
  margin: 40px 0;
  background-color: #fff;
  text-align: left;
}
.day {
  position: relative;
  width: 100%;
}

.day h4 {
  position: relative;
  margin-bottom: 30px;
  font-size: 30px;
  text-align: left;
}
.day h4:before {
  content: '';
  display: block;
  position: absolute;
  top: 6px;
  left: -60px;
  width: 30px;
  height: 30px;
  background: url(../images/calend.svg) 50% 50% no-repeat;
  background-size: 100% 100%;
}
.day td {
  padding: 25px 0;
  vertical-align: top;
  border-top: 2px solid #F4F4F5;
}
.day thead td {
  padding-bottom: 0;
  border-top: none;
}
.session {
  color: #C3A068;
}


.day .down-border {
  border-bottom: 2px solid #F4F4F5;
}
.day__event__time {
  width: 140px;
  font-family: "MyriadProSemibold";
}
.day__event__info {
  width: calc(100% - 140px);
}

.day__event__info__details {
  position: relative;
  margin-top: 40px;
  text-align: left;
}
.day__event__info__details:before {
  content: '';
  position: absolute;
  left: -140px;
  top: -10px;
  width: 250px;
  height: 2px;
  background-color: #F4F4F5;
}
.day__event__info__details h5 {
  margin: 5px 0 8px;
  text-align: left;
  font-size: 20px;
  font-family: inherit;
}
.day__event__info__details ul {
  padding-left: 30px;
}
.day__event__info__details ul li {
  position: relative;
  list-style: none;
}
.day__event__info__details ul li:before {
  content: '—';
  position: absolute;
  left: -30px;
}


.speakers {
  position: relative;
  padding-top: 15px;
  margin-top: 25px;
}
.speakers:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 250px;
  height: 2px;
  background-color: #F4F4F5;
}
.speaker {
  display: inline-block;
  width: 50%;
  padding-right: 30px;
  margin: 25px -2px 0 -2px;
}
.speaker figure {
  width: 65px;
  margin-right: 20px;
  border: 2px solid #DECBAB;
}
.speaker figure img {
  max-width: 100%;
}
.speaker .text {
  width: calc(100% - 85px);
  font-size: 18px;
}
.speaker__name {
  margin-bottom: 5px;
}


@media (max-width: 1200px) {
  .schedule {
    padding: 15px 40px 25px 40px;
  }
  .day h4 {
    font-size: 25px;
  }
  .day h4:before {
    position: static;
    display: inline-block;
    margin: -6px 15px 0 0;
    vertical-align: middle;
  }
  .day,
  .day__event__info__details h5 {
    font-size: 16px;
  }
  .speaker .text {
    font-size: 14px;
  }
}





/* --------------------------------------
   Order section
   -------------------------------------- */
.order {
  border-bottom: 9px solid #BE9858;
  background-color: #222A35;
}
.order h2 {
  color: #fff;
}
.order_form {
  display: block;
  width: 330px;
  margin: 0 auto;
}
.order_form .button {
  width: 100%;
  margin: 0;
  height: 50px;
  font: 20px/46px "MyriadProSemibold";
}
input {
  width: 100%;
  height: 50px;
  padding: 0 20px;
  margin-bottom: 12px;
  border-radius: 3px;
  border: 2px solid rgba(255, 255, 255, .2);
  background-color: transparent;
  color: #eff0f1;
  font-size: 20px;
}




/* --------------------------------------
   Contacts section
   -------------------------------------- */
.contact_person {
  margin: 32px 0 40px;
  font-size: 22px;
  color: #BE9858;
}
.contact_list {
  display: inline-block;
  margin: 0 auto;
  text-align: left;
}
.contact_list li {
  margin-bottom: 14px;
  list-style: none;
  color: #95999e
}
.contact_list a {
  color: #202833!important;
}
i.phone,
i.mail {
  display: inline-block;
  vertical-align: middle;
  width: 70px;
  background-size: auto 100%;
}
i.phone {
  height: 34px;
  background: url(../images/phone.svg) 50% 50% no-repeat;
}
i.mail {
  height: 23px;
  background: url(../images/mail.svg) 50% 50% no-repeat;
}








/* --------------------------------------
   FOOTER
   -------------------------------------- */
footer {
  position: relative;
  height: 760px;
  border-bottom: 9px solid #BE9858;
  background-color: #1F2732;
  overflow: hidden;
}
footer address {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  color: #eff0f1;
}
footer address .wrapper {
  padding: 37px 0;
  border-top: 2px solid rgba(255, 255, 255, .2);
}
footer address p {
  display: inline-block;
}
.copy {
  padding-right: 15px;
  margin-right: 15px;
  border-right: 1px solid #2A323C;
}
.developer a {
  color: #6C8BFF;
  text-decoration: underline;
}
.developer a:hover {
  text-decoration: none;
}
.socials a {
  display: inline-block;
  vertical-align: middle;
  height: 20px;
  width: 25px;
}
.socials .vk {
  background: url(../images/vk.svg) 50% 50% no-repeat;
  background-size: 100% auto;
}
.socials .fb {
  background: url(../images/fb.svg) 50% 50% no-repeat;
  background-size: auto 100%;
}


.map_container,
.map {
  position: relative;
  width: 100%;
  height: 100%;
}
.map_container:before,
.map_container:after,
.map:before,
.map:after {
    content: '';
    position: absolute;
    display: block;
    -webkit-box-shadow: 0px 0px 140px 140px rgba(31,39,50,1);
    -moz-box-shadow: 0px 0px 140px 140px rgba(31,39,50,1);
    box-shadow: 0px 0px 140px 140px rgba(31,39,50,1);
    z-index: 6;
}
.map_container:before {
  top: -140px;
  height: 140px;
  left: 0;
  width: 100%;
}
.map_container:after {
  bottom: -140px;
  height: 140px;
  left: 0;
  width: 100%;
}
.map:before {
  left: -140px;
  width: 140px;
  height: 100%;
  top: 0;
}
.map:after {
  right: -140px;
  width: 140px;
  height: 100%;
  top: 0;
}
a[href^="http://maps.google.com/maps"],
a[href^="https://maps.google.com/maps"],
.gmnoprint {
  display:none !important;
}
@media (max-width: 1200px) {
  footer {
    height: 500px;
  }
  footer address {
    font-size: 14px;
  }
}