/* --------------------------------------
   Global Styles
   -------------------------------------- */


/*Custom fonts*/
@font-face {
    font-family: 'kuraleregular';
    src: url('../fonts/Kurale/kurale-regular-webfont.eot');
    src: url('../fonts/Kurale/kurale-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Kurale/kurale-regular-webfont.woff2') format('woff2'),
         url('../fonts/Kurale/kurale-regular-webfont.woff') format('woff'),
         url('../fonts/Kurale/kurale-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "MyriadProRegular";
    src: url("../fonts/MyriadProRegular/MyriadProRegular.eot");
    src: url("../fonts/MyriadProRegular/MyriadProRegular.eot?#iefix")format("embedded-opentype"),
         url("../fonts/MyriadProRegular/MyriadProRegular.woff") format("woff"),
         url("../fonts/MyriadProRegular/MyriadProRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "MyriadProSemiBold";
    src: url("../fonts/MyriadProSemiBold/MyriadProSemiBold.eot");
    src: url("../fonts/MyriadProSemiBold/MyriadProSemiBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/MyriadProSemiBold/MyriadProSemiBold.woff") format("woff"),
    url("../fonts/MyriadProSemiBold/MyriadProSemiBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}



/*General styles*/
html, body                    {    height: 100%;}
body                          {    margin: 0;
                                   padding: 0;
                                   -ms-overflow-x: hidden;
                                       overflow-x: hidden;
                                   max-width: 100%;
                                   font-family: "MyriadProRegular";
                                   color: #202833;
                                   font-size: 20px;
                              }

h1, h2, h3, h4, h5, p         {    margin: 0; text-align: center;}
h1, h2, h3, h4, h5            {    font-family: 'kuraleregular'; font-family: #202833;}
.white                        {    color: #fff;}
h2                            {     font-size: 50px; line-height: 60px;}
h2:after, h3:after, 
h4:after, h5:after            {    content: ""; display: block; width: 165px; height: 3px; margin: 40px auto; background-color: #BE9858;}    
a                             {    text-decoration: none;}
strong                        {    font-family: "MyriadProSemiBold"; font-weight: normal;}
ul                            {    padding: 0;}
*                             {    box-sizing: border-box; outline: none;}
*:focus                       {    outline: none;}
::-moz-focus-inner            {    border:0;}
.clearfix:after               {    content: " "; 
                                   visibility: hidden;
                                   display: block;
                                   height: 0;
                                   clear: both;}

a[href^=tel]                  {     color:inherit !important; text-decoration:none;}

.wrapper                      {    margin: 0 auto;
                                   text-align: center;
                                   width: 1145px;
                              }
 
section {
  padding: 107px 0;
}

.vertical:before              {    content: " "; 
                                   display: inline-block; vertical-align: middle; 
                                   height: 100%;
                                   margin-right: 0;
                              }
.pull-left {
  float: left;
}
.pull-right {
  float: right;
}


.button {
    display: inline-block;
    vertical-align: middle;
    margin: 0 7px;
    height: 40px;
    padding: 0 18px;
    color: #fff;
    font: 16px/36px "MyriadProRegular";
    border: 2px solid rgba(190,152,88, .3);
    -webkit-border-radius: 3px;
            border-radius: 3px;
    cursor: pointer;
    transition: all .2s;
}
.button.gold {background-color: #BE9858; color: #fff; text-transform: uppercase;}
.tel {
    display: inline-block;
    vertical-align: middle;
    font: 24px 'kuraleregular';
    color: #FFF;
    margin-left: 10px;
}
/* --------------------------------------
   Custom Styles
   -------------------------------------- */



.offer         {
                   height: 100%;
                   min-height: 650px;
                   max-height: 900px;
                   background: url('../images/section_1.jpg') no-repeat center center;
                   background-size: cover;
                   padding: 0;
               }
header         {
                   padding-top: 20px;
                   color: #FFF;
               }
.header_left,
.header_right  {
                   display: inline-block;
                   vertical-align: middle;
               }
.header_left   {    width: 380px }


.header_right {
    width: calc(100% - 385px); 
    text-align: right;
    }

.event h1 {
color: #FFF;
text-align: left;
display: inline-block;
font-size: 30px;
}
.event h1:after {
    content: ""; 
    display: block; width: 100%; height: 3px; margin: 30px auto 0; background-color: #BE9858;
}

nav {border-top: 2px solid rgba(255,255,255, .05);
padding: 15px 0;
margin-top: 18px;
}
nav ul {display: flex;
-webkit-display: flex;
margin: 0;
-webkit-justify-content: space-around;
        justify-content: space-around;
-webkit-align-items: center;
        align-items: center;
}
nav li a {font: 18px "MyriadProRegular"; color: #FFF; display: inline-block;}

nav li a:after {
    content: ""; 
    display: block; width: 80%; height: 3px; margin: 15px auto 0; background-color: #BE9858;
    float: left;
    opacity: 0;
    -webkit-transition: opacity .2s;
       -moz-transition: opacity .2s;
        -ms-transition: opacity .2s;
         -o-transition: opacity .2s;
            transition: opacity .2s;
}
nav li a:hover:after {opacity: 1;}


.offerInfo {
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    height: calc(100% - 150px);
}
.offerInfo h2 { margin-bottom: 35px; font-size: 45px; color: #FFF; width: 96%;}
.offerInfo h2:after {display: none;}

.dateOfEvent {
    display: inline-block;
    vertical-align: middle;
    font-size: 45px; color: #FFF; line-height: 1;
    min-width: 100px;
    padding: 32px 5px 24px;
    background: url('../images/calend_big.svg') no-repeat center center;
    background-size: 100% 100%;
    position: relative;
    margin-right: 80px;
    }
.dateOfEvent:last-of-type {margin-right: 0;}
.dateOfEvent span {display: block;}
.dateOfEvent span + span {font: 20px "MyriadProSemiBold";}
.dateOfEvent:after {content: ''; position: absolute; left: calc(100% + 25px); top: 45%; display: inline-block; vertical-align: middle; width: 30px; height: 30px; background-image: url("../images/plus.svg"); background-size: 100% 100%;}
.dateOfEvent:last-of-type:after {display: none;}

.offerInfo .button {margin-top: 45px;}



#about p {padding: 0 10%;}

#forWhom {background-color: #F8F4EE;}
.infoBlocksWrap {
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: space-between;
    -ms-flex-pack: space-between;
    justify-content: space-between;
    -webkit-align-items: center;
    -ms-flex-align: top;
    align-items: top;
}
.infoBlock {
    width: 260px;
    margin-bottom: 20px;
}
.infoBlock_icon {width: 150px; height: 150px; text-align: center; border: 3px solid rgba(190, 152, 88, .3); -webkit-border-radius: 3px;
        border-radius: 3px; margin: 10px auto 15px;}
.infoBlock_icon:before {content: ""; display: inline-block; height: 100%; vertical-align: middle;}
.infoBlock_icon img {max-width: 95%; vertical-align: middle;}
.infoBlock_icon.-small img {max-width: 55px;}
.infoBlock p {font-size: 20px;}
/*---------------------------------------------------------------*/

/*---------------------------------------------------------------*/
/* --------------------------------------
   Order section
   -------------------------------------- */







/* --------------------------------------
   Contacts section
   -------------------------------------- */
.contact_person {
  margin: 32px 0 40px;
  font-size: 22px;
  color: #BE9858;
}
.contact_list {
  display: inline-block;
  margin: 0 auto;
  text-align: left;
}
.contact_list li {
  margin-bottom: 14px;
  list-style: none;
  color: #95999e
}
.contact_list a {
  color: #202833!important;
}
i.phone,
i.mail {
  display: inline-block;
  vertical-align: middle;
  width: 70px;
  background-size: auto 100%;
}
i.phone {
  height: 34px;
  background: url(../images/phone.svg) 50% 50% no-repeat;
}
i.mail {
  height: 23px;
  background: url(../images/mail.svg) 50% 50% no-repeat;
}








/* --------------------------------------
   FOOTER
   -------------------------------------- */
footer {
  position: relative;
  height: 760px;
  border-bottom: 9px solid #BE9858;
  background-color: #1F2732;
  overflow: hidden;
}
footer address {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  color: #eff0f1;
}
footer address .wrapper {
  padding: 37px 0;
  border-top: 2px solid rgba(255, 255, 255, .2);
}
footer address p {
  display: inline-block;
}
.copy {
  padding-right: 15px;
  margin-right: 15px;
  border-right: 1px solid #2A323C;
}
.developer a {
  color: #6C8BFF;
  text-decoration: underline;
}
.developer a:hover {
  text-decoration: none;
}
.socials a {
  display: inline-block;
  vertical-align: middle;
  height: 20px;
  width: 25px;
}
.socials .vk {
  background: url(../images/vk.svg) 50% 50% no-repeat;
  background-size: 100% auto;
}
.socials .fb {
  background: url(../images/fb.svg) 50% 50% no-repeat;
  background-size: auto 100%;
}


.map_container,
.map {
  position: relative;
  width: 100%;
  height: 100%;
}
.map_container:before,
.map_container:after,
.map:before,
.map:after {
    content: '';
    position: absolute;
    display: block;
    -webkit-box-shadow: 0px 0px 140px 140px rgba(31,39,50,1);
    -moz-box-shadow: 0px 0px 140px 140px rgba(31,39,50,1);
    box-shadow: 0px 0px 140px 140px rgba(31,39,50,1);
    z-index: 6;
}
.map_container:before {
  top: -140px;
  height: 140px;
  left: 0;
  width: 100%;
}
.map_container:after {
  bottom: -140px;
  height: 140px;
  left: 0;
  width: 100%;
}
.map:before {
  left: -140px;
  width: 140px;
  height: 100%;
  top: 0;
}
.map:after {
  right: -140px;
  width: 140px;
  height: 100%;
  top: 0;
}
a[href^="http://maps.google.com/maps"],
a[href^="https://maps.google.com/maps"],
.gmnoprint {
  display:none !important;
}
